:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
  }
  
.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}
.mx-auto{
  margin-top: 100px;
}

.card-signin .form-floating input {
  height: auto;
  border-radius: .5rem;
  width: 100%;
  border: 2px #93329E solid !important;
}