.graph{
  width: 100%!important;
  height: 100vh!important;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  background: #440A67 !important;
  color: white !important;
  padding: 2px;
}
.nav-tabs .nav-link {
  margin-bottom: -1px;
  background: 0 0;
  background: white !IMPORTANT;
  padding: 2px;
  color: #440A67;
}