.home{
    margin-top: 5rem;
}

@supports (-webkit-text-stroke: 1px #B4AEE8) {
    h1 {
        -webkit-text-stroke: 1px #FFE3FE;
        -webkit-text-fill-color: #440A67;
}
}
.content{
    margin-top: 3rem;
}
h1{
    font-family:cursive;
    font-weight: bolder;
    padding: 3px;
}
.desc{
    font-size: 20px;
    font-family: cursive;
    color: rgb(138, 138, 138);
}
.row{
  margin-bottom: 45px!important;
}

/* COUNTER */

  .count-box {
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
    border: 4px solid #440A67;
    height: 100px;
  }
  
  
 
  
  .counts p {
    font-size: 20px;
    font-weight: 400;
    font-family: cursive;
    color: #93329E !important;
  }

  .section{
    color: white;
    background: #FFE3FE;
      padding: 20px;
      border-radius: 15px;
  }
  .section h2{
      font-family: cursive;
      font-weight: bolder;
      color:whitesmoke !important

  }
/* animation */
.get-started{
  /* background: radial-gradient(#7e038f,#300730 ); */
  background-color: #440A67;
  color: white;
  box-shadow: 0px 15px 50px #FFE3FE !important;
  padding: 5px 20px;
  border-radius: 25px;
  transition: 0.5s;
  font-size: 25px;
  width: 60% !important;
}
.cube {
  position: absolute;
  top: 180vh;
  left: 5vw;
  width: 10px;
  height: 10px;
  border: solid 1px #000 !important;
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: cube 12s ease-in forwards infinite;
}
.cube:nth-child(2n) {
  border-color: rgb(85, 83, 83) !important ;
}
.cube:nth-child(2) {
  left: 5vw;
  top: 15vh!important;
}
.cube:nth-child(3) {
  left: 95vw;
  top: 100vh !important;
}
.cube:nth-child(4) {
  left: 90vw;
  top: 240vh!important;
}
.cube:nth-child(5) {
  left: 10vw;
  top: 250vh!important;
}
.cube:nth-child(6) {
  left: 95vw;
  top: 320vh!important;
}
.cube:nth-child(7) {

  left: 5vw;
  top: 100vh !important;
}
/* Animate Background*/
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}
