
.nav-title{
    font-size: 30px;
    padding: 0 0 0 8px;
    margin: 11px 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    border-left: 8px solid #440A67;
    font-family: "Open Sans", sans-serif;
    
  }

  
  .Loginbtn{
    color: #fff!important;
      text-align: center;
      border-radius: 100%;
      background: radial-gradient(#440A67, #440A67);
    margin-left: 30px;
    border-radius: 25px;
    padding: 8px 20px !important;
    font-size: 14px;
  }